.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "top"
    "reply"
    "image"
    "form";
    gap: 20px;

}

.top{
    grid-area: top;
}

.contact-h1{
    font-size: 40px;
    text-align: center;
}

.reply{
    grid-area: reply;
}

.cust-service{
    grid-area: image;
    margin: 20px;
}

.image{
    width:100%;
    border-radius: 10px;
    object-fit: cover;
}


.message-section{
    width: 100%;
    grid-area: form;
}

p{
    padding: 10px;
    /* margin-right: 5px; */
}
.contact-form input {
  border: 2px solid #ccc;
  padding: 5px;
  margin-bottom: 5px;
  width: 95%;
  color:rgb(2, 5, 0);
  font-size: 10px;
  line-height: 1.5;
}

.contact-form textarea{
    padding: 5px;
    margin-bottom: 5px;
    width: 95%;
    min-height: 150px;
    color: black;
}


/* Tablet and Desktop Layout */

@media (min-width: 768px) {
    .content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.1fr 0.8fr;
        min-height: 90vh;
        grid-template-areas: 
        "top top"
        "reply form"
        "image form";
        gap: 10px;
    }

    .contact-form textarea{
        min-height: 250px;
    }

}


