* {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
    background-color: oklch(17.213% 0.00504 17.44);
    display: flex;
    flex-direction: column;
}

.content{
    flex:1;
}

@media (max-width: 480px) {

}


.contact-h1{
    font-size: 40px;
    text-align: center;
}

.contact-section-container{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 10px 10px;
}

.message-section{
    width: 50vw;

}

p{
    padding: 10px;
    margin-right: 5px;
}
.contact-form input {
  border: 2px solid #ccc;
  padding: 5px;
  margin-bottom: 5px;
  width: 95%;
  color:rgb(2, 5, 0);
  font-size: 10px;
  line-height: 1.5;
}

.contact-form textarea{
    padding: 5px;
    margin-bottom: 5px;
    width: 95%;
    min-height: 150px;
    color: black;
}


@media (min-width: 768px) {
    .contact-section-container{
        flex-direction: row;
    }

}
