

h1 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
}

.h1-pop{
    color: #007bffef;

}

.main-section-container{
    display: flex;
    flex-direction: column;
    width:100%;
    gap: 1rem;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
}

.main-text-section-container{
    display:flex;
    flex-direction: column;
}

.image{
    width:100%;
    max-width: 500px;
    height:auto;
    display:block;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom: 10px;
    background-position: center;
    background-size: cover;
}

.article-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* max-width: 90vw; */
    padding: 20px;
    background-color: #1e2939;
}

.services-styling{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.services-card-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:10px;
}

.services-card{
    background-color: oklch(17.213% 0.00504 17.44);
    border-radius: 8px;
    padding: 20px;
    /* flex:1 1 260px; */
    min-width: 200px;
    text-align: left;
    align-items: flex-start;

}

ul{
    margin-bottom: 20px;
}

ul li{
    margin-bottom: 5px;
    
}


.card-title{
    font-weight: bold;
    font-size: 28;
    white-space: normal;
}


@media (min-width: 768px) {
    .main-text-section-container{
        display:flex;
        flex-direction: column;
        max-width: 60%;
    }

    .main-section-container{
        flex-direction: row;
    }

    .services-card-section{
        flex-direction: row;
        gap:10px;
    }

    .services-card{
        padding: 15px;
        flex:1 1 250px;
    }

}


@media (min-width: 1024px) {

    .main-section-container{
        min-height: 50vh;
        margin: 0 auto;
    }

    .article-container{
        flex-direction: column;
        flex:1;
        min-height: 50vh;
    }
    
    .services-card{
        min-width: 150px;
    }
}