html, body {
    margin: 0;
    padding: 5px;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    background-color: oklch(17.213% 0.00504 17.44);
    margin:0;
}

.navbar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid white;
}

.nav-links{
    color: #d1d5dc;
    font-family:sans-serif;
}

.nav-links:hover{
    color: #007bffef;
}

.logo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:600;
    font-size: 25px;
    color: azure;
}

button{
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    max-width: 200px;
    width: 100%;
    transition: transform 0.5s ease;
}

@media (hover:hover) {

    button:hover{
        cursor: pointer;
        transform: rotate(5deg) scale(1.2);
    }
}

p{
    font-size: 20px;
    font-weight: normal;
}

footer{
    padding:10px 10px;
    text-align: center;
    align-items: center;
    font-size: 10px;
}