* {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* width: 769px; */
}

body {
    background-color: oklch(17.213% 0.00504 17.44);
}

.navbar {
    display:flex;
    flex-direction: row;
    /* background-color: bisque; */
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid white;
}

.nav-links{
    color: #d1d5dc;
    font-family:sans-serif;
}

.nav-links:hover{
    color: #007bffef;
}

.logo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:600;
    font-size: 25px;
    color: azure;
}
h1 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
}

.h1-pop{
    color: #007bffef;

}

.main-section-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

.main-text-section-container{
    display:flex;
    flex-direction: column;
    
}

button{
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 20vw;
    transition: transform 0.5s ease;
}

@media (hover:hover) {

    button:hover{
        cursor: pointer;
        transform: rotate(5deg) scale(1.2);
    }
}

.image{
    height: 50vh;
    max-width: auto;
    margin: 5px 5px;
    border-radius: 35px;
    padding: 10px 10px 10px 10px;
    background-position: center;
    background-size: cover;
}

.article-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1e2939;
}

.services-styling{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.services-card-section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:15px;
}

.services-card{
    background-color: oklch(17.213% 0.00504 17.44);
    border-radius: 8px;
    padding: 20px;
    flex:1 1 260px;
    min-width: 0;
    text-align: left;
    align-items: flex-start;

}

ul{
    margin-bottom: 20px;
}

ul li{
    margin-bottom: 5px;
    
}

p{
    font-size: 20px;
    font-weight: normal;
}

.card-title{
    font-weight: bold;
    font-size: 28;
    white-space: nowrap;
}

footer{
    padding:10px 10px;
    text-align: center;
    align-items: center;
    font-size: 10px;
}


@media (min-width: 768px) {
    .main-section-container{
        flex-direction: row;
    }

}


/* @media (min-width: 1024px) {
    .main-section-container{
        flex-direction: row;
    }
} */